.number-label {
  align-items: center;
  border-radius: 50%;
  background: $primary-color;
  display: flex;
  justify-content: center;
  width: 2.8em;
  height: 2.8em;
  position: relative;

  &.with-border {
    &::before {
      content: '';
      border: 3px solid $light-gray;
      border-radius: 50%;
      position: absolute;
      height: 90%;
      width: 90%;
    }
  }

  &::after {
    content: attr(num);
    font-size: 1.3em;
    font-weight: 700;
    color: white;
    line-height: 3.1em;
  }
}
